* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.front_page {
    width: 100%;
    height: 850px;
    background-image: url(../img/background_fon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 140px;
}

.tytle {
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    font-weight: 900;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.small {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.def_with {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 40px;
}

.greed_description {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    margin-top: 50px;
}

.insyde_greed {
    border-right: 2px solid rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.insyde_greed:nth-child(4) {
    border-right: none;
}

.top_greed {
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
}

.bottom_greed {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.space_b_front {
    width: 100%;
    padding: 50px 0px;
    display: flex;
    background-color: white;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.veb_master_block {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #F3F3F3;
}

.reklamodatel_block {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    max-width: 474px;
    padding: 0 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.btn_veb {
    margin-top: 30px;
    width: 354px;
    height: 80px;
    background: #2E9ADB;
    box-shadow: 0px 10px 20px rgba(78, 170, 224, 0.35);
    border-radius: 40px;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
}

.btn_reklam {
    margin-top: 30px;
    width: 354px;
    height: 80px;
    background: #55B570;
    box-shadow: 0px 10px 20px rgba(85, 181, 112, 0.35);
    border-radius: 40px;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
}

.fackts {
    margin-top: 0px;
}

.s_b{
    display: none;
    justify-content: space-between;
}

.s_b .left_footer p{
    margin-top: 0;
}

.name_fackts {
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.greed_fackts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    grid-gap: 60px 20px;
    justify-content: space-between;
    margin-top: 20px;
}

.insyde_fackts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    margin-top: 20px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

.fackts button {
    margin-top: 50px;
    width: 350px;
    height: 80px;
    background: transparent;
    border: 2px solid #2E9ADB;
    border-radius: 40px;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #2E9ADB;
}

.second_fon {
    background-image: url(../img/second_fon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ponti {
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.about_ponti {
    max-width: 1150px;
    padding: 0 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
}

.flex {
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.insyde_flex {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.description_top {
    max-width: 350px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 30px;
}

.shadow_first {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    margin-top: 60px;
    padding: 60px;
}

#tytle {
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

#insyde_tytle {
    font-weight: 900;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    color: #2E9ADB;
}

#description_shadow {
    max-width: 728px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #939393;
    margin: 20px auto;
}

.first_line {
    position: relative;
    width: 100%;
    margin-top: 80px;
    border-bottom: 1px solid #D2D2D2;
}

.first_line img {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.reklama {
    margin-top: 70px;
    padding-bottom: 60px;
    border-bottom: 1px dashed #D2D2D2;
}

.reklama_setka {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 174px;
    grid-gap: 20px;
}

.reklama_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.name_company {
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #939393;
}

.keys {
    margin-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px dashed #D2D2D2;
}

.keys_block {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom_keys {
    margin-top: 60px;
    width: 100%;
    height: 200px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.insyde_keys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    width: 33.3333333333%;
    height: 100%;
    border-right: 1px solid #EBEBEB;
    margin-top: 0px;
}

.ne_nado {
    border-right: none;
}

.trafik {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #939393;
}

.trafik_name {
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.ne_nado .trafik_name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2E9ADB;
}

.premushestva {
    margin-top: 60px;
}

.block_premushesta {
    display: flex;
    width: 100%;
    margin-top: 20px;
    height: auto;
    align-items: center;
}

.block_premushesta:nth-child(2) {
    margin-top: 50px;
}

.block_premushesta p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-left: 20px;
    color: #000000;
}

.premushestva button,
.products center button,
.uspex center button {
    margin-top: 50px;
    width: 350px;
    height: 80px;
    background: #FFFFFF;
    border: 4px solid #2E9ADB;
    border-radius: 40px;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #2E9ADB;
}

.games {
    margin-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px dashed #D2D2D2;
}

.tytle_shadow {
    padding: 0 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.insyde_keys {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block_games {
    max-width: 550px;
    display: flex;
    height: 184px;
    padding: 0 30px;
    background: #FFFFFF;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.block_games:nth-child(2) {
    margin-top: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 150px;
    padding-right: 30px;
    border-right: 1px solid #EBEBEB;
    align-items: center;
    justify-content: center;
}

.left p {
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #939393;
}

.right {
    padding-left: 30px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texnik {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #939393;
}

.name_textnik {
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.new_tsikl {
    margin-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px dashed #D2D2D2;
}

.description_tsikl {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #939393;
}

.new_tsikl img {
    margin-top: 40px;
    width: 64px;
    height: 64px;
}

.insyde {
    margin-top: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #060606;
}

.products {
    margin-top: 60px;
}

.greed_products {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 174px;
    grid-gap: 30px;
}

.greed_products div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.produckt_name {
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #939393;
}

.anasenk {
    margin-top: 60px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #939393;
}

.too_grid {
    margin-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px dashed #D2D2D2;
}

#too_grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 0 30px;
}

.too_block {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

#text {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}

.uspex {
    margin-top: 60px;
}

.desk-uspex {
    margin-top: 40px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.pered_form {
    margin-top: 60px;
}

.email {
    max-width: fit-content;
    padding: 0 15px;
    margin: 40px auto;
    font-weight: 900;
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #939393;
}

.email span {
    color: #2E9ADB;
}

.form {
    padding-top: 50px;
    width: 100%;
    height: 750px;
    background-image: url(../img/Frame\ 4.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h1 {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form input {
    margin-top: 20px;
    width: 730px;
    height: 80px;
    border: none;
    background: #FFFFFF;
    border-radius: 40px;
    padding-left: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: black;
    outline: none;
}

form input::placeholder {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(126, 126, 126, 0.5);
}

form button {
    margin-top: 40px;
    width: 350px;
    height: 80px;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    background-color: transparent;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

footer {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    margin-top: 60px;
}

.space_between_footer {
    display: flex;
    justify-content: space-between;
}

.left_footer img {
    width: 110px;
    height: 50px;
    cursor: pointer;
}

.left_footer p {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #7E7E7E;
}

.center_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center_footer p img {
    width: 16px;
    height: 10px;
}

.center_footer p {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.center_footer p:nth-child(2), .right_footer p:nth-child(2), .right_footer p:nth-child(3) {
    margin-top: 20px;
}

.right_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right_footer p {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.right_footer img{
    padding-right: 10px;
}