@media only screen and (max-width: 1073px) {
    .front_page {
        padding-top: 100px;
    }
}

@media only screen and (max-width: 989px) {
    .front_page {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 885px) {
    .front_page {
        padding-top: 20px;
    }

    .greed_fackts {
        grid-template-columns: repeat(2, 1fr);
    }

    .bottom_keys {
        flex-direction: column;
        padding: 0;
        height: 100%;
        align-items: center;
    }

    .insyde_keys {
        width: 100%;
        padding: 20px;
        border-bottom: 1px solid #EBEBEB;
    }

    .space_b_front {
        display: block;
        padding: 20px 16px;
        height: fit-content;
    }

    .veb_master_block {
        border-bottom: 1px solid #F3F3F3;
        padding-bottom: 20px;
        border-right: none;
    }

    .veb_master_block {
        width: 100%;
    }

    .bottom_keys .insyde_keys:nth-child(1),
    .bottom_keys .insyde_keys:nth-child(2) {
        border-right: none;
    }

    .reklamodatel_block {
        margin-top: 20px;
        width: 100%;
    }

    .btn_veb,
    .btn_reklam {
        width: 256px;
        height: 60px;
        font-size: 16px;
    }

    .block_premushesta {
        margin-top: 15px;
    }

    .block_premushesta img {
        width: 40px;
        height: 40px;
    }

    .block_premushesta p {
        font-size: 18px;
    }

    .premushestva button,
    .products center button,
    .uspex center button,
    .fackts center button {
        width: 256px;
        height: 60px;
        border: 2px solid #2E9ADB;
        font-size: 16px;
    }

    .form {
        padding-top: 80px;
    }

    form input {
        width: 550px;
        height: 60px;
        font-size: 16px;
        line-height: 19px;
    }

    form input::placeholder {
        font-size: 16px;
        line-height: 19px;
    }

    form button {
        width: 100%;
        height: 70px;
        font-size: 18px;
    }

    .greed_products {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    #too_grid {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
    }

    .too_block {
        padding: 40px 30px;
    }

    .too_block:nth-child(2) {
        margin-top: 20px;
    }

    .too_block img {
        width: 50px;
        height: 50px;
    }

    .flex {
        display: block;
    }

    .ponti {
        font-size: 20px;
        line-height: 25px;
    }

    .about_ponti {
        font-size: 16px;
        line-height: 19px;
    }

    .second_fon {
        height: 800px;
    }

    .insyde_flex:nth-child(2),
    .insyde_flex:nth-child(3) {
        margin-top: 20px;
    }

    .insyde_flex:nth-child(1) img {
        width: 120px;
        height: 48px
    }

    .insyde_flex:nth-child(2) img {
        width: 288px;
        height: 48px;
    }

    .insyde_flex:nth-child(3) img {
        width: 106px;
        height: 48px;
    }

    .description_top {
        margin-top: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    #tytle,
    .name_fackts {
        font-size: 22px;
        line-height: 25px;
    }

    .tytle_shadow {
        font-size: 18px;
        line-height: 19px;
    }

    #insyde_tytle {
        font-size: 36px;
        line-height: 37px;
    }

    #description_shadow {
        font-size: 16px;
        line-height: 15px;
    }

    .front_page {
        height: 1200px;
    }

    .greed_description {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 30px;
    }

    .insyde_greed:nth-child(1),
    .insyde_greed:nth-child(2) {
        border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    }

    .insyde_greed:nth-child(2) {
        border-right: none;
    }

    .first_line img {
        width: 60px;
        height: 60px;
    }

    .insyde_keys {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 700px) {
    .reklama_setka {
        grid-template-columns: repeat(2, 1fr);
    }


    form button {
        margin-top: 20px;
    }

    .tytle {
        width: 100%;
        font-weight: 900;
        font-size: 40px;
        line-height: 40px;
    }

    .front_page {
        padding-top: 40px;
    }

    .def_with {
        padding: 0 16px;
    }

    .shadow_first {
        padding: 20px 16px;
    }

    form input {
        width: 400px;
        height: 60px;
    }

    .form {
        margin-top: -40px;
    }

    .front_page {
        height: 1000px;
    }

    .space_between_footer {
        display: block;
    }

    footer {
        margin-top: 10px;
    }

    .d_none {
        display: none;
    }

    .s_b {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }

    .right_footer {
        margin-top: 20px;
    }

    .s_b .left_footer p:nth-child(2) {
        margin-top: 10px;
    }

    .greed_fackts {
        margin-top: 20px;
    }

    .insyde_keys {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 500px) {
    .small {
        font-size: 16px;
        line-height: 19px;
    }

    .front_page {
        height: 1050px;
    }

    .insyde_fackts img {
        width: 48px;
        height: 48px;
    }

    .name_fackts {
        font-size: 20px;
        line-height: 25px;
    }

    .description {
        font-weight: 300;
        font-size: 13px;
        line-height: 15px;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    form input {
        padding-left: 20px;
        width: 288px;
        height: 60px;
        font-size: 16px;
        line-height: 19px;
    }

    form input::placeholder {
        font-size: 16px;
        line-height: 19px;
    }

    form button {
        width: 288px;
        height: 60px;
    }

    .greed_fackts {
        grid-gap: 20px 15px;
        grid-auto-rows: auto;
    }

    .second_fon {
        margin-top: -40px;
    }

    .shadow_first {
        margin-top: 30px;
    }

    .reklama_setka,
    .uspex,
    #too_grid,
    .anasenk,
    .greed_products,
    .products,
    .new_tsikl,
    .games_flex,
    .premushestva,
    .bottom_keys,
    .keys,
    .keys_block,
    .reklama,
    .shadow_first {
        margin-top: 30px;
    }

    .block_premushesta:nth-child(2) {
        margin-top: 20px;
    }

    .reklama_block img {
        width: 48px;
        height: 48px;
    }

    .zzzz {
        margin-top: -80px;
    }

    .second_fon {
        margin-top: -80px;
    }

    .reklama_setka .reklama_block:nth-child(3) img {
        width: 64px;
        height: 36px;
    }

    .block_premushesta img {
        width: 24px;
        height: 24px;
    }

    .block_premushesta p {
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
    }

    .bottom_keys {
        height: auto;
        padding: 0;
    }

    .insyde_keys {
        margin-top: 0px;
    }

    .trafik {
        font-size: 13px;
        line-height: 15px;
    }

    .trafik_name {
        font-size: 16px;
        line-height: 19px;
    }

    .too_grid,
    .games {
        margin-top: 40px;
    }

    .reklama,
    .keys,
    .games,
    .new_tsikl,
    .too_grid {
        padding-bottom: 30px;
    }

    .h1 {
        font-size: 20px;
        line-height: 25px;
    }

    .email {
        font-size: 16px;
        line-height: 24px;
    }

    .tytle_shadow {
        font-size: 16px;
        line-height: 19px;
    }

    .desk-uspex {
        margin-top: 20px;
        font-size: 16px;
        line-height: 19px;
    }

    .too_block img {
        width: 64px;
        height: 64px;
    }

    #text {
        font-size: 13px;
        line-height: 15px;
    }

    .greed_products div img {
        width: 48px;
        height: 48px;
    }

    .first_line {
        margin-top: 40px;
    }

    #insyde_tytle {
        font-size: 30px;
        line-height: 37px;
    }

    #description_shadow {
        font-size: 13px;
        line-height: 15px;
    }

    .produckt_name {
        font-size: 13px;
        margin-top: 20px;
        line-height: 16px;
    }

    .greed_products {
        grid-auto-rows: 120px;
    }

    .insyde,
    .description_tsikl {
        font-size: 13px;
        line-height: 15px;
    }

    .insyde {
        margin-top: 20px;
    }

    .new_tsikl center img {
        margin-top: 20px;
        width: 48px;
        height: 48px;
    }

    .block_games {
        padding: 0;
        display: block;
        height: auto;
        width: 100%;
    }

    .block_games .left {
        width: 100%;
        height: auto;
        padding: 20px 0;
        border-right: none;
        border-bottom: 1px solid #EBEBEB;
    }

    .block_games .left img {
        width: 64px;
        height: 64px;
    }

    .block_games .right {
        padding: 20px 0;
    }

    .s_b .left_footer {
        display: none;
    }

    .tytle {
        font-size: 32px;
        line-height: 40px;
    }

    .front_page {
        height: 980px;
    }
}

@media only screen and (max-width: 439px) {
    .front_page {
        height: 1030px;
    }
}

@media only screen and (max-width: 365px) {
    .front_page {
        height: 1110px;
    }

    .tytle {
        font-size: 27px;
    }

    .top_greed {
        font-size: 24px;
        line-height: 37px;
    }

    .bottom_greed {
        font-size: 13px;
        padding: 0 3px;
    }
}

@media only screen and (max-width: 308px) {
    .front_page {
        height: 1170px;
    }

    .second_fon {
        height: 900px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form input {
        width: 240px;
    }

    form button {
        width: 240px;
    }

    .aaaaa {
        display: none;
    }

    .reklama_setka {
        grid-auto-rows: auto
    }

    .reklama_setka div {
        padding: 10px 5px;
    }

    .keys .keys_block:nth-child(4) img,
    .keys .keys_block:nth-child(5) img {
        width: 48px;
        height: 48px;
    }

    .keys .keys_block:nth-child(2) img {
        width: 132px;
        height: 32px;
    }

    .keys .keys_block:nth-child(3) img {
        width: 156px;
        height: 32px;
    }

    .texnik{
        padding: 0 5px;
    }
}

@media only screen and (max-width:298px) {
    .front_page {
        height: 1200px;
    }

    .btn_veb,
    .btn_reklam {
        width: 206px;
        height: 50px;
        font-weight: 500;
        font-size: 16px;
    }

    .second_fon {
        height: 950px;
    }

    .flex .insyde_flex:nth-child(2) img {
        width: 200px;
        height: 48px;
    }

    #insyde_tytle {
        font-size: 26px;
    }

}