* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(../img/up_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tytle {
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

main {
    margin-top: 80px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.inp {
    display: block;
    margin-top: 20px;
    width: 350px;
    height: 80px;
    background: #FFFFFF;
    border: none;
    border-radius: 40px;
    padding-left: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    outline: none;
}

.inp::placeholder {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(126, 126, 126, 0.5);
}

.inut__email {
    padding-left: 30px;
    width: 730px;
    height: 80px;
    background: #FFFFFF;
    border: none;
    border-radius: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: black;
    margin-top: 30px;
    outline: none;
}

.inut__email::placeholder {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(126, 126, 126, 0.5);
}

.small_inp {
    display: flex;
    padding-left: 30px;
    width: 350px;
    height: 80px;
    background: #FFFFFF;
    border: none;
    border-radius: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
    outline: none;
}

.small_inp::placeholder {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(126, 126, 126, 0.5);
}

main form .flex {
    display: flex;
    justify-content: space-between;
}

main form button {
    margin-top: 40px;
    width: 350px;
    height: 80px;
    background: transparent;
    border: 3px solid #FFFFFF;
    border-radius: 40px;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sign,
.register {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
    color: #FFFFFF;
    margin-top: 20px;
    cursor: pointer;
}

.fle{
    display: block;
}

label{
    display: block;
    margin-top: 5px;
    color: red;
    font-size: 14px;
    display: none;
}

@media only screen and (max-width: 800px) {
    .flex {
        flex-direction: column;
    }

    .small_inp,
    .inut__email, 
    .inp {
        width: 400px;
        height: 60px;
        font-size: 18px;
    }

    .small_inp::placeholder,
    .inut__email::placeholder {
        font-size: 18px;
    }

    main form button {
        width: 400px;
        height: 70px;
    }
}

@media only screen and (max-width: 450px) {
    .tytle {
        font-size: 20px;
        line-height: 25px;
    }

    .small_inp,
    .inut__email,
    .inp  {
        width: 288px;
        height: 60px;
        font-size: 18px;
    }

    .small_inp::placeholder,
    .inut__email::placeholder {
        font-size: 18px;
    }


    main form button {
        width: 288px;
        height: 60px;
        font-size: 16px;
        line-height: 24px;
    }
}